[submodule "src/external/jwt-cpp"]
	path = src/external/jwt-cpp
	url = https://github.com/Thalhammer/jwt-cpp.git
[submodule "src/external/libdatachannel"]
	path = src/external/libdatachannel
	url = https://github.com/paullouisageneau/libdatachannel.git
